

<main class="group">
  <div class="side-content">
    <div class="title">
      <h2>Sign In</h2>
    </div>

    <h3><a href="/auth/google_oauth2">Login with Google</a></h3>
  </div>

  <div class="sub-content">
    <form class="form" action="<%= session_url %>" method="post">
      <%= auth_token %>

      <h3>Welcome</h3>
      <div class="input">
        <label for="email">Email:</label>
        <input type="text" name="user[email]" value="" id="email">
      </div>

      <div class="input">
        <label for="password">Password:</label>
        <input type="password" id="password" name="user[password]" value="">
      </div>

      <div class="submit long-submit">
        <input type="submit" value="Sign In">
      </div>
    </form>

  </div>
</main>