<%= render "doctors/sub_bar", doctor: @doctor%>

<main class="group">
  <div class="side-content">
    <div class="title">
      <h3>Appointment Types:</h3>
    </div>

    <div class="side-info">
		<ul>
			<li><%= link_to "Add New", new_appointment_type_url %></li>
		</ul>
	</div>
  </div>


  <div class="sub-content">
    <h2>All Appointments</h2>
    <ul>
      <% @appointment_types.each do |appointment_type| %>
        <li>
          <%= link_to appointment_type.name, edit_appointment_type_url(appointment_type) %> <%= button_to "Delete", appointment_type_url(appointment_type), method: :delete, class: "delete-button"%>
        </li>
      <% end %>
    </ul>
  </div>

</main>