<%= render "doctors/sub_bar", doctor: @doctor%>


<main class="group">
  <div class="side-content">
    <div class="title">
      <h3>Appointment Types</h3>
    </div>
	
  	<div class="side-info">
  		<ul>
  			<li><%= link_to "Appointment Types", appointment_types_url %></li>
        <li><%= link_to "Add New", new_appointment_type_url %></li>
  		</ul>
  	</div>
  </div>

  <div class="sub-content">
    <%= render "form", appointment_type: @appointment_type %>
  </div>
</main>

