<div class="group" id="reminder-plus">
  <% url_params = (remindable) ? {remindable_type: remindable.class, remindable_id: remindable.id} : {} %>
  <a class="reminder-plus" data-remote="true" href="<%= polymorphic_url([user, remindable, :reminder], action: :new) %>"></a>      
</div>

<div class="reminders-table">
  <table id="reminders">
    <thead>
      <tr>
        <th>Due Date</th>
        <th>Time</th>
        <th><%= (params[:action] == "upcoming") ? "Due In" : "Overdue By" %></th>
        <th>Title</th>
        <th>Type</th>
      </tr>
    </thead>

    <% reminders.each do |reminder| %>
      <%= render "li", reminder: reminder, user: user  %>
    <% end %>

  </table>
</div>
