<h2>Reminders:</h2>
<ul>
  <% @reminders.each do |reminder| %>
    <li><%=  link_to reminder.title, edit_user_reminder_url(@user, reminder) %>  </li>
  <% end %>
</ul>

<%= link_to "Add New Reminder", new_user_reminder_url(@user) %>