

<main class="group">

  <div class="side-content">
    <div class="title">
      <h2>Reminders:</h2>
    </div>

      <%= link_to "Add New Reminder", new_user_reminder_url(@user) %>
      <%= link_to "Completed Reminders", reminders_completed_url(@user) %>
  </div>

  <div class="sub-content">
    <label for="reminders" class="table-label">All:</label>
    <%= render "list", reminders: @reminders %>
  </div>
</main>