<%= render "users/sub_bar", user: @user%>


<main class="group">
  <div class="side-content">
    <div class="title">
      <h3>New Reminder</h3>
    </div>
  </div>

  <div class="sub-content">

    <form class="form" action="<%= user_reminders_url(@user) %>" method="POST">
      <h3>New Reminder:</h3>
      <%= auth_token %>

      <div class="input">
        <label for="title">Title:</label>
        <input
          id="title"
          type="text"
          name="reminder[title]"
          value="">
      </div>

      <div class="checkbox-group">
        <h4>Day(s):</h4>
        <div class="checkbox-input">
          <label for="sunday">Su</label>
          <input
            id="sunday"
            type="checkbox"
            name="days[]"
            value="0">
        </div>

        <div class="checkbox-input">
          <label for="monday">M</label>
          <input
            id="monday"
            type="checkbox"
            name="days[]"
            value="1">
        </div>

        <div class="checkbox-input">
          <label for="tuesday">T</label>
          <input
            id="tuesday"
            type="checkbox"
            name="days[]"
            value="2">
        </div>

        <div class="checkbox-input">
          <label for="wednesday">W</label>
          <input
            id="wednesday"
            type="checkbox"
            name="days[]"
            value="3">
        </div>

        <div class="checkbox-input">
          <label for="thursday">Th</label>
          <input
            id="thursday"
            type="checkbox"
            name="days[]"
            value="4">
        </div>

        <div class="checkbox-input">
          <label for="friday">F</label>
          <input
            id="friday"
            type="checkbox"
            name="days[]"
            value="5">
        </div>

        <div class="checkbox-input">
          <label for="saturday">S</label>
          <input
            id="saturday"
            type="checkbox"
            name="days[]"
            value="6">
        </div>
      </div>

      <div class="time-input">
        <label for="time1">Time(1):</label>
        <input
          id="time1"
          type="time"
          name="times[]"
          value="">
      </div>

      <div class="time-input">
        <label for="time2">Time(2):</label>
        <input
          id="time2"
          type="time"
          name="times[]"
          value="">
      </div>

      <div class="time-input">
        <label for="time3">Time(3):</label>
        <input
          id="time3"
          type="time"
          name="times[]"
          value="">
      </div>

      <div class="input">
        <label for="remindable-type">Type:</label>
        <select id="remindable-type" name="reminder[remindable_type]">
          <option></option>
          <option value="Appointment">Appointment</option>
          <option value="Medication">Medication</option>
          <option value="Treatment">Treatment</option>
          <option value="Input">Data Input</option>
        </select>
      </div>

      <div class="submit">
        <input type="submit" value="Add Reminder">
      </div>
    </form>
  </div>
</main>

<% content_for :js do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('select#remindable-type').select2({
        placeholder: "Select Type..",
        allowClear: true
      });

    });

  </script>

<% end %>