<div class="medications-table">
  <table id="patient-medications">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>?</th>
      </tr>
    </thead>

    <% patient_medications.each do |patient_medication| %>
      <tr>
        <td></td>
        <td class="cell-wrap"></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>

  </table>
</div>
