<form class="search-bar" action="<%= patient_search_url %>" method="GET">

  <div class="input">
    <input placeholder="Find Patient.." type="text" name="query" value="">
  </div>

  <div class="submit">
    <input type="submit" value="Search">
  </div>
</form>
