<form class="search-bar" action="<%= patient_search_url %>" method="GET">

  <div class="input">
    <input type="text" name="query" value="<%= params[:query] %>">
  </div>

  <div class="submit">
    <input type="submit" value="Patient Search">
  </div>
</form>
