<% if current_user.is_doctor %>
  <%= render "doctors/sub_bar", doctor: current_user%>
<% else %>
  <%= render "users/sub_bar", user: current_user%>
<% end %>

<main class="group">
  <div class="side-content">

    <div class="title">
      <h2>Search</h2>
    </div>

  </div>

  <div class="sub-content">

    <%= render "form" %>

  </div>
</main>
