<%= render "doctors/sub_bar", doctor: current_user%>

<main class="group">
  <div class="side-content">

    <div class="title">
      <h2>Search Results</h2>
    </div>

  </div>

  <div class="sub-content">

    <% if @results.empty? %>
      <p>No Results Found</p>
    <% else %>
      <%= paginate @results %>
      <h4><%= @results.count %> Patients Found</h4>
    <br>
      <ul>
        <% @results.each do |result| %>
          <li><%= link_to result.full_name, user_url(result) %></li>
        <% end %>
      </ul>
    <% end %>
    <%#= render @results.map(&:searchable) #%>
  </div>
</main>