<%= render "doctors/sub_bar", doctor: @doctor%>

<main class="group">
  <div class="side-content">
    <div class="title">
		<h3>Alerts:</h3>
	</div>

	<div class="side-info">
		<%= link_to "New Alerts", alerts_url %>
	</div>
  </div>

  <div class="sub-content">
    <label for="alerts" class="table-label">Old Alerts:</label>

    <%= render "list", alerts: @alerts %>
  </div>
</main>