<%= render "doctors/sub_bar", doctor: @doctor%>

<main class="group">
  <div class="side-content">
    <div class="title">
      <h2>Alerts:</h2>
    </div>

    <%= link_to "Completed Alerts", alerts_completed_url %>
  </div>


  <div class="sub-content">
   <label for="alerts" class="table-label">New Alerts:</label>

   <%= render "list", alerts: @alerts %>
  </div>

</main>