

<form class="form" action="<%= doctors_url %>" method="post">
  <%= auth_token %>

  <h3>New Doctor</h3>
  <div class="input">
    <label for="practice-name">Practice Name:</label>
    <input id="practice-name" type="text" name="practice[name]" value="">
  </div>

  <div class="input">
    <label for="practice-specialty">Specialty:</label>
    <input id="practice-specialty" type="text" name="practice[specialty]" value="">
  </div>

  <div class="input">
    <label for="email">Email</label>
    <input id="email" type="text" name="user[email]" value="">
  </div>

  <div class="input">
    <label for="password">Password</label>
    <input id="password" type="password" name="user[password]" value="">
  </div>

  <div class="submit">
    <input type="submit" value="Save Doctor">
  </div>
</form>