<h2>Doctor Page</h2>

<div class="sub-content">

  <br>
  <%= image_tag @doctor.avatar.url(:small) %>
  <br>
  <%= link_to "Settings", edit_user_url(@doctor) %>
  <br>
  <br>

  <ul>
  <% current_user.patients.each do |patient| %>
    <li><%= link_to patient.email, user_url(patient) %></li>
  <% end %>
  </ul>

  <a href="<%= new_user_url %>">Add New Patient</a>

</div>