/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require select2
 */

/* RESETS */

html, body, form, h1, h2, h3, h4, div, label, ul, li, header, footer, main,
table, thead, tbody, tr, th, td, a{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  list-style-type: none;
  color: inherit;
}

input {
  background: white;
}

a {
  text-decoration: none;
/*  color: #75bb59;*/
  color: #33be7b;
}

mark {
  background: inherit ;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="date"],
input[type="time"],
input[type="number"],
textarea {
  -webkit-appearance: none;
  box-sizing: content-box;
  display: inline-block;
  margin: 0;
/*  padding: 0;*/
  border: 0;
  outline: 0;
  color: inherit;
  font: inherit;
  width: auto;
}

select {
  width: 275px;
}

body {
  font-family: sans-serif;
  background: #fefefe;
  font-size: 20px;
  /*min-width: 945px;*/
/*  min-width: 945px;*/
  line-height: normal;

}

/* Clearfix*/

.group:after {
  display: block;
  content: "";
  clear: both;
}

/* Hidden */
.hidden {
  display: none;
}

/*.hidden {
  display: hidden;
}*/

/* Header */

header {
  border-bottom: 4px solid gray;
  width: auto;
}

.top-bar {
  width: auto;
/*  width: 945px;*/
/*  margin: auto;*/
/*  border-bottom: 4px solid gray;*/
}

.logo {
  float: left;
/*  font-size: 60px;*/
  font-weight: bold;
/*  padding-top: 20px;*/
}

.tagline {
  float: left;
  font-size: 24px;
  position: absolute;
  left: 120px;
  top: 80px;
  color: #75bb59;
}
main {
  margin: auto;
  background: #ffffff;
  width: 1000px;
  padding: 20px 0 40px 0;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
/*  box-shadow: 1px 1px 2px gray, -1px 1px 2px gray;*/
/*  border: 0 1px 0 1px solid gray;*/
}


.sub-bar {
  width: 980px;
  margin: auto;
  background: white;
  padding: 10px 0 0 20px;
  border-bottom: 1px solid black;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.display-none {
  display: none;
}
.disabled {
  display: disabled;
}


.sub-nav {
  display: block;
  float: right;
  background: linear-gradient(to bottom, #9a9c9d, #6D6E70);
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-radius: 4px 0 0 0;
}

.sub-nav > ul > li {
  float: left;
  overflow: hidden;
  border-left: 1px solid black;
  text-align: center;
/*  background: #6D6E70;*/
/*  color: #B1D9A1;*/
  border-radius: 4px 0 0 0;
  height: 40px;
  width: 100px;
  background: linear-gradient(to bottom, #b4b5b6, #5e5f61);
}

.sub-nav > ul > li > a {
/*  color: #000000;*/
  display: block;

}


.green-diagnosis-icon {
  width: 75px;
  height: 40px;
  color: #00A55A;
  text-indent: 20px;
  padding-top: 8px;
}

.diagnosis-icon {
  padding-top: 8px;
  width: 75px;
  height: 40px;
  color: #000000;
  text-indent: 20px;
}


.reminder-icon {
  width: 75px;
  height: 40px;
  background: url('icons-20.png') no-repeat 35px -516px;
  text-indent: 9999px;
}

.green-reminder-icon {
  width: 75px;
  height: 40px;
  background: url('icons-20.png') no-repeat 35px -464px;
  text-indent: 9999px;
}

.education-icon {
  width: 75px;
  height: 40px;
  background: url('icons-20.png') no-repeat 27px -1091px;
  text-indent: 9999px;
}

.green-education-icon {
  width: 75px;
  height: 40px;
  background: url('icons-20.png') no-repeat 27px -1023px;
  text-indent: 9999px;
}

.treatment-icon {
  width: 75px;
  height: 40px;
  background: url('icons-20.png') no-repeat 35px -964px;
  text-indent: 9999px;
}

.green-treatment-icon {
  width: 75px;
  height: 40px;
  background: url('icons-20gicons-20.png') no-repeat 35px -912px;
  text-indent: 9999px;
}

.medication-icon {
  width: 75px;
  height: 40px;
  background: url('icons-20.png') no-repeat 27px -851px;
  text-indent: 9999px;
}

.green-medication-icon {
  width: 75px;
  height: 40px;
  background: url('icons-20.png') no-repeat 27px -783px;
  text-indent: 9999px;
}

.appointment-icon {
  width: 75px;
  height: 40px;
  background: url('icons-20.png') no-repeat 35px -724px;
  text-indent: 9999px;
}

.green-appointment-icon {
  width: 75px;
  height: 40px;
  background: url('icons-20.png') no-repeat 35px -672px;
  text-indent: 9999px;
}

.report-icon {
  width: 75px;
  height: 40px;
  background: url('icons-20.png') no-repeat 35px -620px;
  text-indent: 9999px;
}

.green-report-icon {
  width: 75px;
  height: 40px;
  background: url('icons-20.png') no-repeat 35px -568px;
  text-indent: 9999px;
}

.alert-icon {
  width: 75px;
  height: 40px;
  background: url('icons-20.png') no-repeat 35px -516px;
  text-indent: 9999px;
}

.green-alert-icon {
  width: 75px;
  height: 40px;
  background: url('icons-20.png') no-repeat 35px -464px;
  text-indent: 9999px;
}

.appointment-type-icon {
  width: 100px;
  height: 40px;
  color: #000000;
  background: url('icons-20.png') no-repeat 30px -407px;
  text-indent: 9999px;
}

.green-appointment-type-icon {
  width: 75px;
  height: 40px;
  text-indent: 9999px;
  color: #33be7b;
  background: url('icons-20.png') no-repeat 30px -347px;
}

.goal-icon {
  width: 100px;
  height: 40px;
  color: #000000;
  text-indent: 9999px;
  background: url('icons-20.png') no-repeat 35px -292px;
}

.green-goal-icon {
  width: 75px;
  height: 40px;
  background: url('icons-20.png') no-repeat 35px -240px;
  color: #33be7b;
  text-indent: 9999px;

}

.icon:hover {
  opacity: 0.6;
}

#icon-selected {
/*  color: #00A55A;*/
  background: -webkit-gradient(linear,0 0,0 100%,from(rgba(0,0,0,.8)),
    color-stop(.1,rgba(0,0,0,0)),
    to(rgba(0,0,0,0))),
    -webkit-gradient(linear,0 0,0 100%,from(rgba(0,0,0,.2)),
    color-stop(.3,rgba(0,0,0,0)),
    color-stop(.7,rgba(0,0,0,0)),
    to(rgba(0,0,0,.2))),
    -webkit-gradient(linear,0 0,100% 0,from(rgba(0,0,0,.2)),
    color-stop(.2,rgba(0,0,0,0)),
    color-stop(.8,rgba(0,0,0,0)),to(rgba(0,0,0,.2))),
    -webkit-gradient(linear,0 0,0 100%,from(rgba(47,47,47,1)),
    color-stop(0.97,rgba(75,75,75,1)),color-stop(0.97,rgba(0,0,0,0)),
    to(rgba(0,0,0,.45)));
}

.side-content {
/*  background: white;*/
  display: block;
  width: 200px;
  float: left;
}

.side-info {
  padding: 20px 0 0 5px;
/*  margin: auto;*/
  text-align: left;
}
.side-content > ul > li {
  display: block;
  float: left;
  width: 100%;
}

.select2-container .select2-choice > .select2-chosen {
  width: 140px;
  /*border: 1px solid #000;*/
}

#diagnoses-select {
  width: 140px;
}
.title {
  margin: auto;
  padding: 0px 0 20px 0;
  border-bottom: 1px solid gray;
}

h1, h2, h3, h4, label {
  color: #515254;
  font-weight: bold;
}

h2 {
/*  float: left;*/
  font-size: 30px;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 25px;
}

.sub-content {
/*  background: white;*/
  border-left: 1px solid gray;
  display: block;
  float: left;
  width: 659px;
  min-height: 500px;
  padding: 0 0 0 40px;
}


button:hover {
  cursor: pointer;
}

footer {
/*  float: left;*/
  font-size: 12px;
  color: gray;
  width: 1000px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-top: 2px solid gray;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
/*  box-shadow: 1px 1px 2px gray, -1px 1px 2px gray;*/
/*  position: relative;*/
/*  bottom: 0;*/
}

.params {
  float: left;
}

.copyright {
  float: left;
  font-size: 12px;
  color: gray;
  padding: 10px;
}
/*.header-wrap {
  margin: auto;
  width: 920px;
}
*/
/*.header-wrap:after{
  content: "";
  clear: both;
  display: block;
}*/


.avatar {
  display: block;
  float: left;
  width: 100px;
  height: 100px;
  /*margin: 10px 0 0 0;*/

}


.avatar > img {
  height: 96px;
  width: 96px;
  border: 2px solid lightgray;

/*  margin: 10px;*/
  /*MAYBE PADDING*/

}

.nav-search {
  width: 700px;
  float: right;
  height: 90px;
  padding: 0 10px 10px 20px;
}

.search-bar {
  display: block;
  float: right;
}

.search-bar > .input {
  float: left;
/*  width: 50px;*/
  margin: 0 10px 0 0;
}

.search-bar > .input > input {
  width: 120px;
}
.search-bar > .submit {
  float: right;
}

.search-bar > .submit > input {
  float: right;
  padding: 6px 15px;
}

.user-info {
  float: left;
/*  margin-left: 20px;*/
}

.user-info > ul > li {
  float: left;
  padding: 5px 10px 5px 0;
}


.nav-sign-ins {
  display: block;
  float: right;
  padding-right: 30px;
}

.nav-sign-ins > ul > li {
  float: left;
  margin-left: 5px;
}

.settings-icon {
  width: 48px;
  height: 48px;
  float: right;
  background: url('icons-20.png') no-repeat 0 0;
  text-indent: 9999px;
}

.settings-icon:hover {
  opacity: 0.6;
  cursor: pointer;
}

.green-settings-icon {
  width: 48px;
  height: 48px;
  float: right;
  background: url('icons-20.png') no-repeat 0 -52px;
  text-indent: 9999px;
}

.green-settings-icon:hover {
  opacity: 0.6;
  cursor: pointer;
}


.plus {
/*  position: absolute;*/
 /* top: 10px;
  right: 0px;*/
  width: 50px;
  height: 50px;
  float: right;
  background: url('icons-20.png') no-repeat 0 -104px;
}

.plus:hover {
  cursor: pointer;
  background: url('icons-20.png') no-repeat 0 -174px;
}

.x {
  -webkit-transform:rotate(45deg);
  -webkit-transition: all 1s;
}

.x:hover {
  opacity: 1 !important;
}

.google-signin {
  height: 50px;
  width: 245px;
  background: url('sign-in-with-google-250x55.png') no-repeat 0 0;
}

.google-signin > a {
  height: 55px;
  width: 250px;
  display: block;
}

/*.sign-in {
  margin: 100px auto;
  background: #fff;
  width: 300px;
  padding: 50px;
  border-radius: 10px;
  float: left;
}*/

.form {
/*  margin: 100px;*/
/*  margin: auto;*/
  background: #fff;
  width: 560px;
  padding: 0 50px;
  border-radius: 10px;
  float: left;
}

.sign-in > h3 {
  font-size: 45px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.form > h3 {
  font-size: 35px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.input {
  margin: 20px 0;
}

.input > select {
  border-radius: 4px;
  border: 2px solid #000;
  background: transparent;
  height: 30px;
  font-size: 15px;
  padding: 5px;
  background: #fff;
}

.input > select:select {
  border-radius: 4px;
  border: 2px solid #000;
  border-color: #4BE19D;
}

.input > label {
  display: block;
  /*width: 250px;*/
  font-weight: bold;
  padding: 0 0 5px 0;
}

.radio-group {
  /*display: block;*/
  font-weight: bold;
  padding: 0 0 5px 0;
  margin: 20px 0;
}

.radio-group  > label{
  display: block;
  font-weight: bold;
  padding: 0 0 5px 0;
}
.radio-input > label {
  display: block;
  font-weight: bold;
  padding: 0 0 5px 0;
}

.radio-input {
  float: left;
  width: 100px;
/*  margin: auto;*/
}

/* Select2 */
.select2-container .select2-choice:select {
  border: 2px solid #4be19d;
}

/*.select2-container-multi.select2-container-active .select2-choices {
 border: 2px solid #4be19d;
}*/

.checkbox-group {
  display: block;
  float: left;
  width: inherit;
  padding-bottom: 20px;
}

.checkbox-input {
  display: block;
  float: left;
  margin: 4px;
}

.checkbox-input > label {
  display: block;
  padding: 0 0 5px 0;
  float: left;
}

.checkbox-input > input {
  border: 2px solid #000;
  padding: 5px 10px;
/*  width: 250px;*/
  border-radius: 4px;
}

.input > input, textarea {
  border: 2px solid #000;
  padding: 5px 10px;
  width: 250px;
  border-radius: 4px;
}

.search > .input > input {
  border: 2px solid #000;
  padding: 5px 10px;
  width: 150px;
  border-radius: 4px;
}

.search {
/*  padding-left: 20px;*/
}

.side-button {
  margin-top: 15px;
}


.radio-entry {
  float: left;
/*  background: blue;*/
}
.radio-entry > input, textarea {
  border: 2px solid #000;
  padding: 5px 10px;
  width: 250px;
  border-radius: 4px;
}


.time-input > input {
  border: 2px solid #000;
  padding: 5px 10px;
  width: 250px;
  border-radius: 4px;
}

.time-input > label {
  display: block;
  font-weight: bold;
  padding: 0 0 5px 0;
}

.input > input:focus, .input > textarea:focus {
  border-color: #4BE19D;
}

.button {
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.6;
}

.green-button {
  background: #33be7b;
  box-shadow: 0 3px #1b7d56;
  color: #515254;
}

.button > div > input {
  display: block;
  padding: 5px 10px;
/*  color: #fff;*/
}

.button_to > div > input {
  position: relative;
  padding: 5px 10px;
  border-radius: 4px;
}

.delete-button {
  background: #c23437;
  box-shadow: 0 3px #874042;
  color: #515254;
}

.delete-button:active {
  top: 3px;
  box-shadow: none;
}


.button:active, .button_to:active {
  top: 3px;
  box-shadow: none;
}

.long-submit > input {
  width: 250px;
}

form > .submit > input {
  position: relative;
  background: #33be7b;
  color: #515254;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
/*  width: 250px;*/
  box-shadow: 0 3px #1b7d56;
}

.submit > input:hover {
  background: #00A55A;
/*  background: #1A8554;*/
}

.submit > input:active {
  top: 3px;
  box-shadow: none;
}

form > .delete-submit > input {
  margin-top: 15px;
  position: relative;
  background: #c23437;
/*  background: #00A55A;*/
  color: #fff;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
/*  width: 250px;*/
  box-shadow: 0 3px #874042;
}

.delete-submit > input:hover {
  background: #a94f50;
/*  background: #1A8554;*/
}

.delete-submit > input:active {
  top: 3px;
  box-shadow: none;
}

.table-label {
  font-weight: bold;
  font-size: 30px;
/*  margin-left: 100px;*/
}

th{
  font-weight: bold;
  background: #eee;
}

td{
  border-bottom: 0;
  border-top: 0;
  padding: 10px ;
}
table {
  border-collapse: collapse;
  border: 2px solid black;
  margin: 10px 0 10px 0;
  width: 700px;
}

.cell-wrap {
  width: 250px;
}

/*.alert-table {
  width: 600px;
}*/

th {
  border-bottom: 1px solid black;
}

td {
  padding: 3px;
  border: 1px solid black;
}