<div class="appointments-table">
  <table id="appointments">
    <thead>
      <tr>
        <th>Type</th>
        <th>Date</th>
        <th>Time</th>
        <th>met?</th>
      </tr>
    </thead>

    <% appointments.each do |appointment| %>
    <tr>
      <td class="cell-wrap"><%= link_to appointment.appointment_type.name, edit_user_appointment_url(appointment.patient_id, appointment) if appointment.appointment_type %></td>
      <td><%= appointment.datetime.strftime("%m/%d/%Y") %></td>
      <td><%= appointment.datetime.strftime("%H:%M") %></td>
      <td><%= appointment.met %></td>
    </tr>
    <% end %>

  </table>
</div>
