<section class="modal">
  <article class="modal-box">
    <span class="modal-close-button">&times;</span>
    
    <div id="modal-container">
      <!-- Insert Content Here -->
      
    </div>
  </article>
</section>